body{
    margin: 10px;
    display: flex;
   color: rgb(30, 110, 153);
    justify-content: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 100vh;
    background-color: hsl(0, 0%, 70%);
}
#container{
    text-align: center;
    background-color: hsl(200, 50%, 75%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

button{
    width:100px;
    height:90px;
    border-radius:20px;
    border: none;
    background-color:hsl(100, 50%, 75%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
