body {
  background-color: rgb(182, 192, 187);
}

tr:nth-child(even) {
  background-color: rgba(93, 92, 107, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(91, 93, 88, 0.4);
}

table {
  width: 60%; /* Set a fixed or percentage width */
  margin: 0 auto; /* Centers the table horizontally */
  margin-left: 50%; /* Pushes the table to the left center */
  display: block;
  text-align: center;
}

.Country {
  text-align: left;
  padding-left: 10px;
  margin: 10px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Optional: set a width smaller than the container for the margin auto to work */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Optional: set a width smaller than the container for the margin auto to work */
}